/* Fonts */
@font-face {
    font-family: 'Halis R';
    src: url('../fonts/Ahmet Altun - HalisR-Bold.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Aqua Grotesque';
    src: url('../fonts/aqua.ttf');
}

/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 0.9rem;
    line-height: 1.7;
    color: #606d6e;
    letter-spacing: 2px;
    font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header a {
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 1.4rem;
    font-family: Halis R;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
}

.header .logo img {
    height: 43px;
    margin-right: 6px;
}

.nav-link {
    margin-left: 30px;
    font-family: Roboto;
    font-size: 14px;
}

.nav-search {
    color: rgb(133,197,212);
    font-size: 20px;
}

.footer {
    background-color: #eee;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

/* Kaleidoscope */

.hero-outer {
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
}

#hero-container, .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.hero-logo img {
    height: 65px;
}

.hero-overlay h1, .hero-overlay h2 {
    text-transform: uppercase;
    margin: 5px;
    color: white;
    letter-spacing: 4px;
}

.hero-presents {
    font-family: Halis R;
    font-size: 12px;
}

.hero-line {
    width: 80px;
    height: 2px;
    background-color: white;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
}

.hero-title {
    font-family: Halis R;
    font-size: 2rem;
    letter-spacing: 6px;
}

.hero-blurb {
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
}

.modular-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.modular-box p {
    max-width: 400px;
}

.modular-box h1 ,
.modular-box h2 ,
.modular-box h3 ,
.modular-box h4 ,
.modular-box h5 ,
.modular-box h6 {
    font-family: Aqua Grotesque;
    text-transform: uppercase;
}

.modular-logo {
    margin-bottom: 0px;
}

.modular-logo img {
    height: 45px;
}
