<div class="hero-outer">
    <div id="hero-container"></div>
    <div class="hero-overlay">
        <p class="hero-logo">
            <img src="{{ url('theme://images/logo-hero.png') }}">
        </p>
        <h2 class="hero-presents">
            <span class="hero-line"></span>
            UW MRSEC presents:
            <span class="hero-line"></span>
        </h2>
        <h1 class="hero-title">
            Kaleidoscope
        </h1>
        <h2 class="hero-blurb">
            See science and engineering<br>
            through a new lens.
        </h3>
    </div>
</div>
