<div class="logos-outer">
  <h2>Kaleidoscope is made possible by:</h2>
  <div class="logos-row">
    <a href="https://www.nsf.gov/">
      <img src="{{ url('theme://images/nsf4.png') }}">
    </a>
    <a href="http://www.wisc.edu/">
      <img src="{{ url('theme://images/UWlogo_ctr_4c.png') }}">
    </a>
    <a href="http://www.mrsec.wisc.edu/">
      <img src="{{ url('theme://images/MRSEC-UWM.png') }}">
    </a>
  </div>
</div>
